<nav class="navbar navbar-expand-md bg-primary navbar-light">
    <div>
      <img  src="assets/images/people.png">
      <span style="color:white">  Customer Manager </span>
    </div>
    <ul class="navbar-nav" style="margin-left:30px">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="#">Orders</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="#">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="#">Login</a>
          </li>
      </ul>
  </nav>